@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Chivo+Mono:wght@300&family=Diplomata+SC&family=Fira+Code&family=Inconsolata:wght@200&family=JetBrains+Mono:wght@100&family=Kanit:wght@300&family=La+Belle+Aurore&family=Lato:ital,wght@0,700;0,900;1,900&family=Martian+Mono:wght@500&family=Montserrat:wght@100&family=Nanum+Gothic:wght@800&family=Nerko+One&family=Nunito+Sans:wght@200&family=Nunito:ital,wght@1,200&family=Oxygen&family=Playfair+Display&family=Roboto:wght@100&family=Titillium+Web:ital,wght@0,200;1,200&family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}
